<!DOCTYPE html>
<html lang="en" class="h-100" data-bs-theme="auto" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('OCM-EDU ADMIN PAGE', @{/css/register.css})}"></head>
<body>

<header th:replace="~{fragments/adminNavbar :: navbar('admin', 'https://cdn-icons-png.flaticon.com/512/4205/4205906.png')}"></header>

<main class="container mb-5">

    <div th:insert="~{fragments/intro :: headerFragment('Courses Registrations Manager',
    'On this page, you have the following options: Delete students registrations for various courses. Feel free to navigate through the available options and manage the course database according to your needs.',
    '/admin', 'https://img.freepik.com/premium-vector/illustration-vector-graphic-cartoon-character-businessman_516790-114.jpg?w=360')}">
    </div>
    <div th:if="${registrationChange}">
        <div class="alert alert-success text-center" role="alert" th:text="${registrationChange}">
            Registration removed successfully!
        </div>
    </div>
    <div class="row mb-5 text-center">
        <form class="row gx-3 gy-2 align-items-center" th:action="@{'/admin/coursesRegistrationManage/search'}" method="post">
            <div class="col-sm-3">
                <label class="visually-hidden" for="courseName">Course NAme</label>
                <select class="form-control" id="courseName" name="courseName">
                    <option selected value="">Choose...</option>
                    <option th:each="course: ${courses}" th:value="${course}" th:text="${course}"></option>
                </select>
            </div>
            <div class="col-sm-3">
                <label class="visually-hidden" for="studentName">Student</label>
                <select class="form-control" id="studentName"  name="studentName">
                    <option selected value="">Choose...</option>
                    <option th:each="student: ${students}" th:value="${student}" th:text="${student}"></option>
                </select>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">search</button>
            </div>
        </form>
    </div>
    <div th:if="${#lists.size(filteredData) == 0}">
        <div class="alert alert-info text-center" role="alert">
            Didnt found fit registrations for your search!
        </div>
    </div>
    <div th:unless="${#lists.size(filteredData) == 0}" class="container mb-5 text-center">
        <div class="table-responsive" >
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Course Name</th>
                    <th scope="col">Student Name</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="registeration: ${filteredData}">
                    <td class="text-justify" th:text="${registeration.getCourse().getCourseName()}"></td>
                    <td class="text-justify" th:text="${registeration.student}"></td>
                    <td>
                        <form th:action="@{'/admin/coursesRegistrationManage/deleteRegistration/' + ${registeration.id}}" method="post">
                            <button type="submit" class="btn btn-outline-danger my-2">delete</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
            <form th:action="@{/admin/coursesRegistrationManage/removeAllRegistration}" method="post">
                <button type="submit" class="btn btn-outline-danger my-2 mb-5">Remove all</button>
            </form>
        </div>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous">
</script>
</body>
</html>