<!DOCTYPE html>
<html lang="en" class="h-100" data-bs-theme="auto" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('OCM-EDU - My Courses', @{/css/register.css})}"></head>
<body class="d-flex flex-column h-100">
<header th:replace="~{fragments/adminNavbar :: navbar('student', 'https://cdn-icons-png.flaticon.com/512/201/201818.png')}"></header>
<div th:insert="~{fragments/intro :: headerFragment('My Courses', 'On this page you can see your schedule. You can also remove courses from your schedule.',
  '/user', 'https://img.freepik.com/premium-vector/online-education-service-concept-with-tiny-character_269730-443.jpg')}">
</div>
<main>
  <div th:if="${scheduleChange}">
    <div class="alert alert-success text-center" role="alert" th:text="${scheduleChange}"></div>
  </div>
  <div th:if="${error}">
    <div class="alert alert-danger text-center" role="alert" th:text="${error}"></div>
  </div>
  <div class="container mb-5 text-center">
    <div class="table-responsive" >
      <table class="table table-hover">
        <thead th:replace="~{fragments/courseFormThead :: tableHeader}"></thead>
        <tbody>
        <tr th:each="course: ${courses}">
          <td class="text-justify " th:text="${course.courseCode}"></td>
          <td class="text-justify" th:text="${course.courseName}"></td>
          <td class="text-justify" th:text="${course.professor}"></td>
          <td class="text-justify" th:text="${course.year}"></td>
          <td class="text-justify" th:text="${course.semester}"></td>
          <td class="text-justify" th:text="${course.capacity}"></td>
          <td class="text-start" th:text="${course.overview}"></td>
          <td>
            <form th:action="@{'/user/myCourses/removeCourse/' + ${course.id}}" method="post">
              <button type="submit" class="btn btn-outline-danger my-2"> - remove</button>
            </form>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous">
</script>
</body>
</html>