<div class="flip-card" th:fragment="courseCard(course)">
    <div class="flip-card-inner">
        <div class="flip-card-front card-front card-side">
            <div class="card-body d-flex flex-column align-items-center justify-content-center">
                <div class="text-center">
                    <h5 class="card-title display-4" th:text="${course.courseName}"></h5>
                </div>
                <div class="text-center">
                    <p class="card-text" th:text="${course.year}"></p>
                </div>
            </div>
        </div>
        <div class="flip-card-back card-back card-side">
            <div class="card-body">
                <h5 class=" display-6" th:text="${course.courseName}"></h5>
                <h6 class="card-title fw-5">
                    Course by <span th:text="${course.professor}"></span>
                </h6>
                <h6 class="card-text">
                    @<span th:text="${course.year}"></span>
                </h6>
                <p class="card-text" th:text="${course.overview}">Overview.</p>
                <h6 class="card-text">Capacity:
                    <span th:text="${course.capacity}"></span>
                </h6>
                <h6 class="card-text">#<span th:text="${course.courseCode}"></span></h6>
            </div>
        </div>
    </div>
</div>