body {
    /*background-color: rgba(194, 185, 206, 0.7);*/
    font-family: 'Trebuchet MS', sans-serif;
}

/* index.css file */
.nav-masthead .nav-link {
    color: rgba(255, 255, 255, .5);
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}
.container-typing{
    display: inline-block;
}

@keyframes revealMain {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.animated-main {
    animation: revealMain 5s ease-in-out;
}

body {
    background: linear-gradient(135deg, #d7b4ff, #97a4ff, #308cf5,  #79ffc8, #ffcee4);
    background-size: 500% 500%;
    animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}